body{
background-color: aquamarine;
}
.header{
    text-align: center;
    align-content: center;
    align-items: center;
    color: rgb(73, 73, 16);
}
.headdiv{
   
    margin-left: 50px;
    margin-right: 50px;
    color: azure;
    background-color: rgb(149, 187, 84);
}
.img{
    margin-top: 20px;
    margin-right: 10px;
}